{
  "openapi": "3.1.0",
  "info": {
    "title": "Realtime Avatar API",
    "version": "1.0.0",
    "summary": "Put a live, talking AI character into your product on a voice or video call.",
    "description": "Create an avatar from a single portrait, mint a session from your own server, and stream that character's voice and face in realtime while your own tools run inside the conversation. Full-duplex: the caller can interrupt, and end-of-turn is judged by what was said rather than by silence. Billed by the second — one credit is one second on air, with the language model, the voice and the rendering all included in that rate. Delivery is over LiveKit WebRTC; the browser and native halves are the `realtime-avatar` TypeScript SDK on npm. Agent-readable companions: https://realtimeavatar.ai/llms.txt (index), https://realtimeavatar.ai/llms-full.txt (every doc page inline), https://realtimeavatar.ai/pricing.md (rates).",
    "termsOfService": "https://realtimeavatar.ai/terms",
    "contact": {
      "name": "Realtime Avatar support",
      "url": "https://realtimeavatar.ai/docs"
    },
    "license": {
      "name": "Proprietary — see terms of service",
      "url": "https://realtimeavatar.ai/terms"
    }
  },
  "servers": [
    {
      "url": "https://realtimeavatar.ai/api",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "LiveKitSessionRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "avatar_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "background_id": {
            "default": "plain_white",
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "capacity_pool": {
            "default": "primary",
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "mode": {
            "default": "avatar",
            "type": "string",
            "enum": [
              "avatar",
              "voice"
            ]
          },
          "create_room": {
            "default": true,
            "type": "boolean"
          },
          "dispatch_agent": {
            "default": true,
            "type": "boolean"
          },
          "instructions": {
            "type": "string",
            "minLength": 1,
            "maxLength": 8000
          },
          "initial_context": {
            "default": [],
            "maxItems": 32,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "system",
                    "user",
                    "assistant"
                  ]
                },
                "content": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 4000
                }
              },
              "required": [
                "role",
                "content"
              ],
              "additionalProperties": false
            }
          },
          "initial_say": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000
          },
          "llm": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "backend": {
                    "type": "string",
                    "enum": [
                      "local",
                      "gemini",
                      "openai"
                    ]
                  },
                  "model": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 200
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "max_session_seconds": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1800
          },
          "participant_identity": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "participant_name": {
            "type": "string",
            "maxLength": 160
          },
          "character_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "queue_ticket_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "room_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "source_kind": {
            "default": "source_video",
            "description": "The realtime source. Creation is image-only — every avatar grows its own PLATFORM-GENERATED looping source video from the uploaded portrait — so this is always \"source_video\".",
            "type": "string",
            "enum": [
              "source_video"
            ]
          },
          "source_video_url": {
            "description": "Normally omitted: the avatar's platform-generated idle loop is resolved server-side. Overriding it with a custom video URL is a legacy channel for existing integrations — custom video is not part of the public contract.",
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ]
          },
          "stt_mode": {
            "default": "server",
            "type": "string",
            "enum": [
              "server",
              "off"
            ]
          },
          "video_cache_id": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1,
                "maxLength": 240
              },
              {
                "type": "null"
              }
            ]
          },
          "voice": {
            "anyOf": [
              {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "provider": {
                        "type": "string",
                        "const": "cartesia"
                      },
                      "model": {
                        "default": "cartesia/sonic-3",
                        "type": "string",
                        "enum": [
                          "cartesia/sonic-2",
                          "cartesia/sonic-2-latest",
                          "cartesia/sonic-3",
                          "cartesia/sonic-3-latest",
                          "cartesia/sonic-turbo",
                          "cartesia/sonic-turbo-latest"
                        ]
                      },
                      "voice_id": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 120
                      },
                      "speed": {
                        "anyOf": [
                          {
                            "type": "number",
                            "minimum": 0.5,
                            "maximum": 2
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "emotion": {
                        "anyOf": [
                          {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 80
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "language": {
                        "anyOf": [
                          {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 16
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "required": [
                      "provider",
                      "voice_id"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "provider": {
                        "type": "string",
                        "const": "breezeblue"
                      },
                      "model": {
                        "default": "bluebell-v1-en",
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 80
                      },
                      "voice_id": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 120
                      },
                      "guidance_scale": {
                        "anyOf": [
                          {
                            "type": "number",
                            "minimum": 1,
                            "maximum": 10
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "instructions": {
                        "anyOf": [
                          {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 1000
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "language": {
                        "anyOf": [
                          {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 16
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "required": [
                      "provider",
                      "voice_id"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "provider": {
                        "type": "string",
                        "const": "fish"
                      },
                      "model": {
                        "default": "speech-1.6",
                        "type": "string",
                        "enum": [
                          "speech-1.6",
                          "s1",
                          "s2-pro",
                          "speech-1.5",
                          "s1-mini"
                        ]
                      },
                      "voice_id": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 120
                      },
                      "speed": {
                        "anyOf": [
                          {
                            "type": "number",
                            "minimum": 0.5,
                            "maximum": 2
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "emotion": {
                        "anyOf": [
                          {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 80
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "language": {
                        "anyOf": [
                          {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 16
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "required": [
                      "provider",
                      "voice_id"
                    ],
                    "additionalProperties": false
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "voice_id": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1,
                "maxLength": 240
              },
              {
                "type": "null"
              }
            ]
          },
          "clip_library": {
            "description": "The session's motion-state map. Normally omitted: the avatar's PLATFORM-GENERATED library (idle / listen / gesture clips rendered from the portrait at creation) is injected automatically. An explicit [] opts the call out of clips. Supplying custom clip URLs is a legacy channel for existing integrations — custom video is not part of the public contract.",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "clip_id": {
                  "type": "string",
                  "pattern": "^[A-Za-z0-9_-]{1,64}$"
                },
                "source_video_url": {
                  "description": "The clip's video URL — for a platform-generated library this is the generated clip's hosted URL, filled in server-side at hydration.",
                  "type": "string",
                  "format": "uri"
                },
                "video_cache_id": {
                  "type": "string",
                  "minLength": 8,
                  "maxLength": 160
                },
                "max_seconds": {
                  "type": "number",
                  "minimum": 1,
                  "maximum": 10
                },
                "trigger": {
                  "type": "string",
                  "enum": [
                    "idle",
                    "listen",
                    "think",
                    "directive"
                  ]
                },
                "loop": {
                  "type": "boolean"
                },
                "weight": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                },
                "crossfade_ms": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 1000
                },
                "trim_start_ms": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 2000
                },
                "trim_end_ms": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 2000
                },
                "when": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 120
                },
                "hint": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 120
                }
              },
              "required": [
                "clip_id"
              ],
              "additionalProperties": false
            }
          },
          "choreography": {
            "type": "object",
            "properties": {
              "idle_dwell_min_seconds": {
                "type": "number",
                "minimum": 1,
                "maximum": 60
              },
              "idle_dwell_max_seconds": {
                "type": "number",
                "minimum": 1,
                "maximum": 120
              },
              "special_weight": {
                "type": "number",
                "minimum": 0,
                "maximum": 100
              },
              "start_grace_seconds": {
                "type": "number",
                "minimum": 0,
                "maximum": 60
              },
              "crossfade_ms": {
                "type": "integer",
                "minimum": 0,
                "maximum": 1000
              },
              "crossfade_easing": {
                "type": "string",
                "enum": [
                  "linear",
                  "smooth",
                  "ease_out"
                ]
              },
              "wrap_crossfade_ms": {
                "type": "integer",
                "minimum": 0,
                "maximum": 1000
              }
            },
            "additionalProperties": false
          },
          "behavior": {
            "type": "object",
            "properties": {
              "gestures_enabled": {
                "type": "boolean"
              },
              "gesture_freq": {
                "type": "string",
                "enum": [
                  "sparse",
                  "balanced",
                  "lively"
                ]
              }
            },
            "additionalProperties": false
          },
          "expression_profile": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          },
          "render_backend": {
            "type": "string",
            "enum": [
              "warp",
              "generative"
            ]
          },
          "support_edits": {
            "type": "object",
            "properties": {
              "instruction": {
                "type": "string",
                "minLength": 1,
                "maxLength": 1000
              },
              "reference_url": {
                "type": "string",
                "format": "uri"
              },
              "live_edit": {
                "description": "EXPERIMENTAL (\"runtime edit\") — let the look follow the conversation mid-call. Less settled than the fixed `instruction` lane: the shape may still change, and the re-dress does not reach every capacity tier yet, so a live session is accepted and runs normally but may hold its opening set for the whole call. Absent means `instruction` is fixed for the session, which is the incumbent behavior.",
                "type": "object",
                "properties": {
                  "rules": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2000
                  },
                  "cooldown_seconds": {
                    "type": "integer",
                    "minimum": 5,
                    "maximum": 600
                  },
                  "renderer": {
                    "type": "string",
                    "enum": [
                      "editor",
                      "generative"
                    ]
                  },
                  "objects": {
                    "type": "string",
                    "enum": [
                      "editor",
                      "generative"
                    ]
                  }
                },
                "required": [
                  "rules"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "instruction"
            ],
            "additionalProperties": false
          },
          "transcript_webhook": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "maxLength": 500,
                "format": "uri"
              },
              "secret": {
                "type": "string",
                "minLength": 16,
                "maxLength": 200
              }
            },
            "required": [
              "url",
              "secret"
            ],
            "additionalProperties": false
          },
          "client_metadata": {
            "type": "object",
            "propertyNames": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            },
            "additionalProperties": {
              "type": "string",
              "maxLength": 200
            },
            "maxProperties": 16
          },
          "fast_endpointing": {
            "description": "DEPRECATED, no-op. Accepted and ignored. The faster hesitation ceiling this requested is now the default for every session, so sending it changes nothing. Safe to stop sending; the field is retained only so existing callers do not break.",
            "type": "boolean"
          },
          "require_ready_clip_library": {
            "type": "boolean"
          }
        },
        "required": [
          "avatar_id"
        ],
        "additionalProperties": false
      },
      "LiveKitSessionGrant": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "status": {
            "default": "ready",
            "type": "string",
            "const": "ready"
          },
          "session_id": {
            "type": "string",
            "minLength": 1
          },
          "room_name": {
            "type": "string",
            "minLength": 1
          },
          "livekit_url": {
            "type": "string",
            "minLength": 1
          },
          "participant_token": {
            "type": "string",
            "minLength": 1
          },
          "participant_identity": {
            "type": "string",
            "minLength": 1
          },
          "agent_name": {
            "type": "string",
            "minLength": 1
          },
          "capacity_pool": {
            "type": "string",
            "minLength": 1
          },
          "reservation_expires_at": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
          },
          "max_sessions_per_gpu": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "stt_mode": {
            "default": "server",
            "type": "string",
            "enum": [
              "server",
              "off"
            ]
          },
          "room_created": {
            "default": false,
            "type": "boolean"
          },
          "dispatch_created": {
            "default": false,
            "type": "boolean"
          },
          "join_timeout_seconds": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "idle_timeout_seconds": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "max_session_seconds": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "status",
          "session_id",
          "room_name",
          "livekit_url",
          "participant_token",
          "participant_identity",
          "agent_name",
          "capacity_pool",
          "reservation_expires_at",
          "max_sessions_per_gpu",
          "stt_mode",
          "room_created",
          "dispatch_created",
          "join_timeout_seconds",
          "idle_timeout_seconds",
          "max_session_seconds"
        ],
        "additionalProperties": false
      },
      "LiveKitCapacitySnapshot": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "capacity_pool": {
            "type": "string",
            "minLength": 1
          },
          "agent_name": {
            "type": "string",
            "minLength": 1
          },
          "max_sessions": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "max_sessions_per_gpu": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "worker_count": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "active_sessions": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "reserved_sessions": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "observed_worker_active_sessions": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "available_sessions": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "queue_size": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "admission_open": {
            "type": "boolean"
          },
          "recommended_retry_ms": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "load": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          }
        },
        "required": [
          "capacity_pool",
          "agent_name",
          "max_sessions",
          "max_sessions_per_gpu",
          "worker_count",
          "active_sessions",
          "reserved_sessions",
          "observed_worker_active_sessions",
          "available_sessions",
          "queue_size",
          "admission_open",
          "recommended_retry_ms",
          "load"
        ],
        "additionalProperties": false
      },
      "CapacityBusyResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "minLength": 1
          },
          "capacity": {
            "type": "object",
            "properties": {
              "capacity_pool": {
                "type": "string",
                "minLength": 1
              },
              "agent_name": {
                "type": "string",
                "minLength": 1
              },
              "max_sessions": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "max_sessions_per_gpu": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "maximum": 9007199254740991
              },
              "worker_count": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "active_sessions": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "reserved_sessions": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "observed_worker_active_sessions": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "available_sessions": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "queue_size": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "admission_open": {
                "type": "boolean"
              },
              "recommended_retry_ms": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "load": {
                "type": "number",
                "minimum": 0,
                "maximum": 1
              }
            },
            "required": [
              "capacity_pool",
              "agent_name",
              "max_sessions",
              "max_sessions_per_gpu",
              "worker_count",
              "active_sessions",
              "reserved_sessions",
              "observed_worker_active_sessions",
              "available_sessions",
              "queue_size",
              "admission_open",
              "recommended_retry_ms",
              "load"
            ],
            "additionalProperties": false
          },
          "queue_size": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "queue_ticket_id": {
            "type": "string",
            "minLength": 1
          },
          "queue_position": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "recommended_retry_ms": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "message",
          "capacity",
          "queue_size",
          "recommended_retry_ms"
        ],
        "additionalProperties": false
      },
      "LiveKitSessionReleaseRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "queue_ticket_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "reason": {
            "type": "string",
            "enum": [
              "page_hide",
              "disconnected",
              "superseded",
              "unmount",
              "manual",
              "idle_timeout"
            ]
          },
          "capacity_pool": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          }
        },
        "additionalProperties": false,
        "if": {
          "not": {
            "required": [
              "session_id"
            ]
          }
        },
        "then": {
          "required": [
            "queue_ticket_id"
          ]
        }
      },
      "Avatar": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 8,
            "maxLength": 80
          },
          "tenantId": {
            "type": "string",
            "minLength": 8,
            "maxLength": 80
          },
          "displayName": {
            "type": "string"
          },
          "sourceKind": {
            "type": "string",
            "enum": [
              "image",
              "video"
            ]
          },
          "modelId": {
            "type": "string",
            "enum": [
              "realtime-avatar-live-v1",
              "realtime-avatar-video-v1"
            ]
          },
          "sourceAssetId": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 8,
                "maxLength": 80
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "preprocessing",
              "ready",
              "failed",
              "disabled",
              "deleted"
            ]
          },
          "error": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "idleVideoStatus": {
            "type": "string",
            "enum": [
              "none",
              "queued",
              "generating",
              "ready",
              "failed"
            ]
          },
          "defaultVoiceId": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "llm": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "local",
                      "gemini",
                      "openai"
                    ]
                  },
                  "model": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 200
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "provider"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "tenantId",
          "displayName",
          "sourceKind",
          "modelId",
          "sourceAssetId",
          "status",
          "error",
          "idleVideoStatus",
          "defaultVoiceId",
          "llm",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "CreateAvatarRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "sourceKind": {
            "default": "image",
            "type": "string",
            "enum": [
              "image",
              "video"
            ],
            "description": "`image` is how avatars are created: upload a portrait, and the platform generates the looping source video and the motion library from it. `video` is CLOSED — it survives in this enum for a handful of grandfathered tenants, and `createAvatar` answers everyone else `422` (\"Creating from a supplied video is closed\"). The gate is a per-tenant flag that fails closed, so treat `video` as unavailable unless you already know yours is on."
          },
          "modelId": {
            "type": "string",
            "enum": [
              "realtime-avatar-live-v1",
              "realtime-avatar-video-v1"
            ],
            "description": "Omit it. This is not a choice between renderers — the model is DERIVED from `sourceKind` (`image` → `realtime-avatar-live-v1`, `video` → `realtime-avatar-video-v1`), and sending one that disagrees with your `sourceKind` is `422 Avatar model is not compatible with its source kind`. So an explicit value can only ever restate what the source already decided, or fail. It follows that `realtime-avatar-video-v1` is unreachable on the `image` lane everyone uses: it needs `sourceKind: \"video\"`, which is closed."
          },
          "sourceAssetId": {
            "type": "string",
            "minLength": 8,
            "maxLength": 80
          },
          "motionPrompt": {
            "type": "string",
            "maxLength": 1200
          },
          "defaultVoiceId": {
            "type": "string",
            "minLength": 8,
            "maxLength": 160
          },
          "voice": {
            "type": "object",
            "properties": {
              "auto_description": {
                "type": "string",
                "minLength": 1,
                "maxLength": 2000
              },
              "voice": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "cartesia",
                      "fish"
                    ]
                  },
                  "voice_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 240
                  },
                  "model": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "speed": {
                    "anyOf": [
                      {
                        "type": "number",
                        "minimum": 0.5,
                        "maximum": 2
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "emotion": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 80
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "language": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 16
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "provider",
                  "voice_id"
                ],
                "additionalProperties": false
              }
            },
            "additionalProperties": false,
            "anyOf": [
              {
                "required": [
                  "auto_description"
                ]
              },
              {
                "required": [
                  "voice"
                ]
              }
            ]
          },
          "llm": {
            "type": "object",
            "properties": {
              "provider": {
                "type": "string",
                "enum": [
                  "local",
                  "gemini",
                  "openai"
                ]
              },
              "model": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 200
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "provider"
            ],
            "additionalProperties": false
          },
          "settings": {
            "default": {},
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          },
          "metadata": {
            "default": {},
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          }
        },
        "required": [
          "displayName"
        ],
        "additionalProperties": false
      },
      "UpdateAvatarRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "defaultVoiceId": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 8,
                "maxLength": 160
              },
              {
                "type": "null"
              }
            ]
          },
          "llm": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "local",
                      "gemini",
                      "openai"
                    ]
                  },
                  "model": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 200
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "provider"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "llmProvider": {
            "type": "string",
            "enum": [
              "local",
              "gemini",
              "openai"
            ]
          },
          "llmModel": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 200
              },
              {
                "type": "null"
              }
            ]
          },
          "settings": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          },
          "metadata": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          },
          "persona": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1,
                "maxLength": 80
              },
              "personality": {
                "default": "",
                "type": "string",
                "maxLength": 500
              },
              "background": {
                "default": "",
                "type": "string",
                "maxLength": 700
              },
              "replyStyle": {
                "default": "short, warm, specific, and spoken",
                "type": "string",
                "maxLength": 400
              }
            },
            "additionalProperties": false
          },
          "artDirection": {
            "type": "string",
            "maxLength": 1200
          },
          "stylePreset": {
            "type": "string",
            "enum": [
              "cinematic-founder",
              "editorial-companion",
              "warm-anime",
              "luxury-realism",
              "soft-3d",
              "noir-avatar"
            ]
          },
          "portraitUrl": {
            "type": "string",
            "format": "uri",
            "description": "Dashboard-only. `updateAvatar` needs a request/env context to pull the image into tenant storage, and the public route does not supply one, so sending this here is always `400 Portrait updates are not available on this route`. To change the portrait over this API, register the image with `POST /v1/assets` or `POST /v1/assets/remote` and PATCH the returned id as `sourceAssetId`, which is the swap lane and does work."
          },
          "sourceAssetId": {
            "type": "string",
            "minLength": 1
          },
          "anchorTimeMs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "additionalProperties": false,
        "minProperties": 1
      },
      "CreateApiKeyRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "environment": {
            "default": "test",
            "type": "string",
            "enum": [
              "live",
              "test"
            ]
          },
          "scopes": {
            "default": [
              "realtime:write",
              "credits:read",
              "avatars:read"
            ],
            "minItems": 1,
            "maxItems": 16,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "api_keys:write",
                "credits:read",
                "avatars:read",
                "avatars:write",
                "realtime:write",
                "usage:read",
                "usage:write"
              ]
            }
          },
          "spendLimitCreditMicros": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "expiresAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": false
      },
      "CreateApiKeyResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 8,
            "maxLength": 80
          },
          "keyId": {
            "type": "string",
            "minLength": 8,
            "maxLength": 64
          },
          "tenantId": {
            "type": "string",
            "minLength": 8,
            "maxLength": 80
          },
          "name": {
            "type": "string"
          },
          "environment": {
            "type": "string",
            "enum": [
              "live",
              "test"
            ]
          },
          "redactedKey": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "api_keys:write",
                "credits:read",
                "avatars:read",
                "avatars:write",
                "realtime:write",
                "usage:read",
                "usage:write"
              ]
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "revoked",
              "expired"
            ]
          },
          "spendLimitCreditMicros": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "expiresAt": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "apiKey": {
            "type": "string",
            "pattern": "^tic_.*"
          }
        },
        "required": [
          "id",
          "keyId",
          "tenantId",
          "name",
          "environment",
          "redactedKey",
          "scopes",
          "status",
          "spendLimitCreditMicros",
          "createdAt",
          "expiresAt",
          "apiKey"
        ],
        "additionalProperties": false
      },
      "Asset": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 8,
            "maxLength": 80
          },
          "tenantId": {
            "type": "string",
            "minLength": 8,
            "maxLength": 80
          },
          "kind": {
            "type": "string",
            "enum": [
              "image",
              "video",
              "audio"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending_upload",
              "uploaded",
              "processing",
              "ready",
              "failed",
              "deleted"
            ]
          },
          "contentType": {
            "type": "string"
          },
          "sizeBytes": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "sha256": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "publicUrl": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "tenantId",
          "kind",
          "status",
          "contentType",
          "sizeBytes",
          "sha256",
          "publicUrl",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "AssetList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          }
        },
        "required": [
          "data"
        ],
        "additionalProperties": false
      },
      "CreateRemoteAssetRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "image",
              "video",
              "audio"
            ]
          },
          "remoteUrl": {
            "type": "string",
            "format": "uri"
          },
          "originalFilename": {
            "type": "string",
            "minLength": 1,
            "maxLength": 240
          },
          "metadata": {
            "default": {},
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          }
        },
        "required": [
          "kind",
          "remoteUrl"
        ],
        "additionalProperties": false
      },
      "CreditBalance": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string",
            "minLength": 8,
            "maxLength": 80
          },
          "balanceCreditMicros": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "reservedCreditMicros": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "availableCreditMicros": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "lifetimeGrantedCreditMicros": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "lifetimeUsedCreditMicros": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "tenantId",
          "balanceCreditMicros",
          "reservedCreditMicros",
          "availableCreditMicros",
          "lifetimeGrantedCreditMicros",
          "lifetimeUsedCreditMicros",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "ListUsageSessionsResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "sessionId": {
                  "type": "string",
                  "minLength": 8,
                  "maxLength": 80
                },
                "avatarId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "avatarName": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "reserved",
                    "started",
                    "released",
                    "failed"
                  ]
                },
                "startedAt": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "endedAt": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "activeSeconds": {
                  "anyOf": [
                    {
                      "type": "number",
                      "minimum": 0
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "billedCreditMicros": {
                  "anyOf": [
                    {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "metadata": {
                  "default": {},
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                },
                "createdAt": {
                  "type": "string"
                }
              },
              "required": [
                "sessionId",
                "avatarId",
                "avatarName",
                "status",
                "startedAt",
                "endedAt",
                "activeSeconds",
                "billedCreditMicros",
                "metadata",
                "createdAt"
              ],
              "additionalProperties": false
            }
          },
          "nextCursor": {
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ]
          },
          "from": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          },
          "to": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$"
          }
        },
        "required": [
          "data",
          "nextCursor",
          "from",
          "to"
        ],
        "additionalProperties": false
      },
      "ListAvatarsResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "minLength": 8,
                  "maxLength": 80
                },
                "tenantId": {
                  "type": "string",
                  "minLength": 8,
                  "maxLength": 80
                },
                "displayName": {
                  "type": "string"
                },
                "sourceKind": {
                  "type": "string",
                  "enum": [
                    "image",
                    "video"
                  ]
                },
                "modelId": {
                  "type": "string",
                  "enum": [
                    "realtime-avatar-live-v1",
                    "realtime-avatar-video-v1"
                  ]
                },
                "sourceAssetId": {
                  "anyOf": [
                    {
                      "type": "string",
                      "minLength": 8,
                      "maxLength": 80
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "draft",
                    "preprocessing",
                    "ready",
                    "failed",
                    "disabled",
                    "deleted"
                  ]
                },
                "error": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "idleVideoStatus": {
                  "type": "string",
                  "enum": [
                    "none",
                    "queued",
                    "generating",
                    "ready",
                    "failed"
                  ]
                },
                "defaultVoiceId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "llm": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "provider": {
                          "type": "string",
                          "enum": [
                            "local",
                            "gemini",
                            "openai"
                          ]
                        },
                        "model": {
                          "anyOf": [
                            {
                              "type": "string",
                              "maxLength": 200
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "provider"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "createdAt": {
                  "type": "string"
                },
                "updatedAt": {
                  "type": "string"
                }
              },
              "required": [
                "id",
                "tenantId",
                "displayName",
                "sourceKind",
                "modelId",
                "sourceAssetId",
                "status",
                "error",
                "idleVideoStatus",
                "defaultVoiceId",
                "llm",
                "createdAt",
                "updatedAt"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "data"
        ],
        "additionalProperties": false
      },
      "ListAvatarClipsResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "clipId": {
                  "type": "string"
                },
                "role": {
                  "type": "string",
                  "enum": [
                    "idle",
                    "listen",
                    "gesture"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "queued",
                    "generating",
                    "ready",
                    "failed"
                  ]
                },
                "url": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "uri"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "whenHint": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "source": {
                  "type": "string",
                  "enum": [
                    "generated",
                    "uploaded"
                  ]
                },
                "uploadAssetId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "motionPrompt": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "durationSeconds": {
                  "anyOf": [
                    {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "anchorVersion": {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                "poseCheck": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "verdict": {
                          "type": "object",
                          "properties": {
                            "sameSubject": {
                              "type": "boolean"
                            },
                            "firstFrameMatchesAnchor": {
                              "type": "boolean"
                            },
                            "lastFrameMatchesAnchor": {
                              "type": "boolean"
                            },
                            "framingComparable": {
                              "type": "boolean"
                            },
                            "confidence": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 1
                            }
                          },
                          "required": [
                            "sameSubject",
                            "firstFrameMatchesAnchor",
                            "lastFrameMatchesAnchor",
                            "framingComparable",
                            "confidence"
                          ],
                          "additionalProperties": false
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "firstFrameUrl": {
                          "anyOf": [
                            {
                              "type": "string",
                              "format": "uri"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "lastFrameUrl": {
                          "anyOf": [
                            {
                              "type": "string",
                              "format": "uri"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "trimStartMs": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "trimEndMs": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "verdict",
                        "issues",
                        "firstFrameUrl",
                        "lastFrameUrl",
                        "trimStartMs",
                        "trimEndMs"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "error": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "createdAt": {
                  "type": "string"
                },
                "updatedAt": {
                  "type": "string"
                }
              },
              "required": [
                "clipId",
                "role",
                "status",
                "url",
                "whenHint",
                "source",
                "uploadAssetId",
                "motionPrompt",
                "durationSeconds",
                "anchorVersion",
                "poseCheck",
                "error",
                "createdAt",
                "updatedAt"
              ],
              "additionalProperties": false
            }
          },
          "avatarId": {
            "type": "string"
          },
          "revision": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "anchorVersion": {
            "type": "integer",
            "minimum": 1,
            "maximum": 9007199254740991
          },
          "anchor": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "source": {
                    "type": "string",
                    "enum": [
                      "portrait",
                      "source_frame"
                    ]
                  },
                  "timeMs": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "url",
                  "source",
                  "timeMs"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "clipLibraryEligible": {
            "type": "boolean"
          }
        },
        "required": [
          "data",
          "avatarId",
          "revision",
          "anchorVersion",
          "anchor",
          "clipLibraryEligible"
        ],
        "additionalProperties": false
      },
      "PutAvatarClipsRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "expectedRevision": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "clips": {
            "maxItems": 20,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "clipId": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 64,
                  "pattern": "^[a-z0-9][a-z0-9_-]*$"
                },
                "role": {
                  "type": "string",
                  "enum": [
                    "idle",
                    "listen",
                    "gesture"
                  ]
                },
                "whenHint": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 280
                },
                "source": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "motionPrompt": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 1200
                        }
                      },
                      "required": [
                        "motionPrompt"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "object",
                      "properties": {
                        "assetId": {
                          "type": "string",
                          "minLength": 1
                        }
                      },
                      "required": [
                        "assetId"
                      ],
                      "additionalProperties": false
                    }
                  ]
                },
                "durationSeconds": {
                  "type": "integer",
                  "minimum": 4,
                  "maximum": 8
                },
                "reroll": {
                  "type": "boolean"
                }
              },
              "required": [
                "clipId",
                "role",
                "source"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": [
          "clips"
        ],
        "additionalProperties": false
      },
      "PutAvatarClipsResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "clipId": {
                  "type": "string"
                },
                "role": {
                  "type": "string",
                  "enum": [
                    "idle",
                    "listen",
                    "gesture"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "queued",
                    "generating",
                    "ready",
                    "failed"
                  ]
                },
                "url": {
                  "anyOf": [
                    {
                      "type": "string",
                      "format": "uri"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "whenHint": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "source": {
                  "type": "string",
                  "enum": [
                    "generated",
                    "uploaded"
                  ]
                },
                "uploadAssetId": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "motionPrompt": {
                  "anyOf": [
                    {
                      "type": "string"
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "durationSeconds": {
                  "anyOf": [
                    {
                      "type": "integer",
                      "minimum": -9007199254740991,
                      "maximum": 9007199254740991
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "anchorVersion": {
                  "type": "integer",
                  "minimum": -9007199254740991,
                  "maximum": 9007199254740991
                },
                "poseCheck": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "verdict": {
                          "type": "object",
                          "properties": {
                            "sameSubject": {
                              "type": "boolean"
                            },
                            "firstFrameMatchesAnchor": {
                              "type": "boolean"
                            },
                            "lastFrameMatchesAnchor": {
                              "type": "boolean"
                            },
                            "framingComparable": {
                              "type": "boolean"
                            },
                            "confidence": {
                              "type": "number",
                              "minimum": 0,
                              "maximum": 1
                            }
                          },
                          "required": [
                            "sameSubject",
                            "firstFrameMatchesAnchor",
                            "lastFrameMatchesAnchor",
                            "framingComparable",
                            "confidence"
                          ],
                          "additionalProperties": false
                        },
                        "issues": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "firstFrameUrl": {
                          "anyOf": [
                            {
                              "type": "string",
                              "format": "uri"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "lastFrameUrl": {
                          "anyOf": [
                            {
                              "type": "string",
                              "format": "uri"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "trimStartMs": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "trimEndMs": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": -9007199254740991,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "verdict",
                        "issues",
                        "firstFrameUrl",
                        "lastFrameUrl",
                        "trimStartMs",
                        "trimEndMs"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "error": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "code",
                        "message"
                      ],
                      "additionalProperties": false
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "createdAt": {
                  "type": "string"
                },
                "updatedAt": {
                  "type": "string"
                }
              },
              "required": [
                "clipId",
                "role",
                "status",
                "url",
                "whenHint",
                "source",
                "uploadAssetId",
                "motionPrompt",
                "durationSeconds",
                "anchorVersion",
                "poseCheck",
                "error",
                "createdAt",
                "updatedAt"
              ],
              "additionalProperties": false
            }
          },
          "avatarId": {
            "type": "string"
          },
          "revision": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "anchorVersion": {
            "type": "integer",
            "minimum": 1,
            "maximum": 9007199254740991
          },
          "anchor": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "source": {
                    "type": "string",
                    "enum": [
                      "portrait",
                      "source_frame"
                    ]
                  },
                  "timeMs": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": -9007199254740991,
                        "maximum": 9007199254740991
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "url",
                  "source",
                  "timeMs"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "clipLibraryEligible": {
            "type": "boolean"
          },
          "plan": {
            "type": "object",
            "properties": {
              "kept": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "queued": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "retired": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "kept",
              "queued",
              "retired"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "data",
          "avatarId",
          "revision",
          "anchorVersion",
          "anchor",
          "clipLibraryEligible",
          "plan"
        ],
        "additionalProperties": false
      },
      "PutAvatarLoopRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "motionPrompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1200
          }
        },
        "required": [
          "motionPrompt"
        ],
        "additionalProperties": false
      },
      "PutAvatarLoopResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "avatarId": {
            "type": "string"
          },
          "loopStatus": {
            "type": "string",
            "enum": [
              "generating",
              "ready",
              "failed"
            ]
          },
          "motionPrompt": {
            "type": "string"
          },
          "servingUrl": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "avatarId",
          "loopStatus",
          "motionPrompt",
          "servingUrl"
        ],
        "additionalProperties": false
      },
      "SyncAvatarClipsRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "clipUrls": {
            "maxItems": 32,
            "type": "array",
            "items": {
              "type": "string",
              "format": "uri"
            }
          }
        },
        "required": [
          "clipUrls"
        ],
        "additionalProperties": false
      },
      "SyncAvatarClipsResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "queued": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "ready": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "retired": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "queued",
          "ready",
          "retired"
        ],
        "additionalProperties": false
      },
      "OkResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          }
        },
        "required": [
          "ok"
        ],
        "additionalProperties": false
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable message. Not a stable contract — switch on `code` or `status`."
          },
          "status": {
            "type": "integer",
            "description": "Repeats the HTTP status in the body. Absent on unhandled 500s."
          },
          "code": {
            "type": "string",
            "description": "Machine-readable discriminator, present where the failure has one — billing, clip-library and loop refusals all carry it. Switch on this rather than on `error`, whose wording is not a contract. The set is open and grows with the API; the codes a given endpoint can return are documented with that endpoint at https://realtimeavatar.ai/docs/api-reference."
          },
          "retryable": {
            "type": "boolean",
            "description": "Set when the failure is worth retrying as-is."
          },
          "billingUrl": {
            "type": "string",
            "description": "Present on 402 — where to send the user to top up."
          }
        },
        "required": [
          "error"
        ],
        "additionalProperties": true
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/realtime/livekit/capacity": {
      "get": {
        "operationId": "getLiveKitCapacity",
        "description": "Free/busy snapshot of the render fleet, for deciding whether to offer a call before minting one.\n\nRequires an API key with the `realtime:write` scope.",
        "responses": {
          "200": {
            "description": "Capacity snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveKitCapacitySnapshot"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, revoked, or expired key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope for this operation, or the tenant is not active.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Error. Route-dependent: 400 (a field this route cannot honour — see `portraitUrl` on `UpdateAvatarRequest`), 402 (insufficient credits or spend limit), 404 (no such avatar, voice, or key for this tenant — the message often reads \"does not belong to this tenant\", which is a missing id and not a permission failure), 409 (the resource is not in a state that accepts this write — a stale `expectedRevision`, a render already in flight, or a mint that asked for a clip library still building), 411 (`POST /v1/assets/remote` only — the origin serving `remoteUrl` sent no `content-length`, so the platform will not stream it), 422 (strict schema rejection, or a motion description the safety screen refused), 429 (rate limited), 502 (upstream render failed), 503 (a dependency this route needs is unavailable — retryable, and nothing was written), 500 (unhandled). Switch on `code` where present, else `status`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Get a capacity snapshot",
        "tags": [
          "Realtime"
        ]
      }
    },
    "/v1/realtime/livekit/session": {
      "post": {
        "operationId": "createLiveKitSession",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveKitSessionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "LiveKit session grant",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LiveKitSessionGrant"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, revoked, or expired key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope for this operation, or the tenant is not active.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Either the plan's concurrent-stream ceiling was reached — an Error with code \"concurrency_limit_reached\" and details.maxConcurrentSessions, which no queue will drain — or no GPU slot is free, which is the queue contract. Switch on the presence of `code`.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/CapacityBusyResponse"
                    },
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Error. Route-dependent: 400 (a field this route cannot honour — see `portraitUrl` on `UpdateAvatarRequest`), 402 (insufficient credits or spend limit), 404 (no such avatar, voice, or key for this tenant — the message often reads \"does not belong to this tenant\", which is a missing id and not a permission failure), 409 (the resource is not in a state that accepts this write — a stale `expectedRevision`, a render already in flight, or a mint that asked for a clip library still building), 411 (`POST /v1/assets/remote` only — the origin serving `remoteUrl` sent no `content-length`, so the platform will not stream it), 422 (strict schema rejection, or a motion description the safety screen refused), 429 (rate limited), 502 (upstream render failed), 503 (a dependency this route needs is unavailable — retryable, and nothing was written), 500 (unhandled). Switch on `code` where present, else `status`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "description": "Requires an API key with the `realtime:write` scope.",
        "summary": "Mint a realtime session",
        "tags": [
          "Realtime"
        ]
      }
    },
    "/v1/realtime/livekit/session/release": {
      "post": {
        "operationId": "releaseLiveKitClientSession",
        "description": "Releases a held capacity lease immediately (client beacon on tab-close, terminal disconnect, or a superseded reconnect) so the GPU slot is freed instead of lingering until its TTL. Idempotent.\n\nRequires an API key with the `realtime:write` scope.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveKitSessionReleaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Released",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OkResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, revoked, or expired key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope for this operation, or the tenant is not active.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
            "description": "Error. Route-dependent: 400 (a field this route cannot honour — see `portraitUrl` on `UpdateAvatarRequest`), 402 (insufficient credits or spend limit), 404 (no such avatar, voice, or key for this tenant — the message often reads \"does not belong to this tenant\", which is a missing id and not a permission failure), 409 (the resource is not in a state that accepts this write — a stale `expectedRevision`, a render already in flight, or a mint that asked for a clip library still building), 411 (`POST /v1/assets/remote` only — the origin serving `remoteUrl` sent no `content-length`, so the platform will not stream it), 422 (strict schema rejection, or a motion description the safety screen refused), 429 (rate limited), 502 (upstream render failed), 503 (a dependency this route needs is unavailable — retryable, and nothing was written), 500 (unhandled). Switch on `code` where present, else `status`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "summary": "Release a session's capacity lease",
        "tags": [
          "Realtime"
        ]
      }
    },
    "/v1/avatars": {
      "get": {
        "operationId": "listAvatars",
        "responses": {
          "200": {
            "description": "Avatars",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAvatarsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Missing, malformed, revoked, or expired key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "The key lacks the scope for this operation, or the tenant is not active.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "default": {
[...]
