{
  "openapi": "3.1.0",
  "info": {
    "title": "Realtime Avatar API",
    "version": "1.0.0",
    "summary": "Put a live, talking AI character into your product on a voice or video call.",
    "description": "Create an avatar from a single portrait, mint a session from your own server, and stream that character's voice and face in realtime while your own tools run inside the conversation. Full-duplex: the caller can interrupt, and end-of-turn is judged by what was said rather than by silence. Billed by the second — one credit is one second on air, with the language model, the voice and the rendering all included in that rate. Delivery is over LiveKit WebRTC; the browser and native halves are the `realtime-avatar` TypeScript SDK on npm. Agent-readable companions: https://realtimeavatar.ai/llms.txt (index), https://realtimeavatar.ai/llms-full.txt (every doc page inline), https://realtimeavatar.ai/pricing.md (rates).",
    "termsOfService": "https://realtimeavatar.ai/terms",
    "contact": {
      "name": "Realtime Avatar support",
      "url": "https://realtimeavatar.ai/docs"
    },
    "license": {
      "name": "Proprietary — see terms of service",
      "url": "https://realtimeavatar.ai/terms"
    }
  },
  "servers": [
    {
      "url": "https://realtimeavatar.ai/api",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "An API key, sent as `Authorization: Bearer <api_key>`. Keys carry named scopes; each operation declares the one it needs in `x-required-scopes`, and the catalogue of all of them is `x-scopes` on this scheme. A 401 or 403 from this API answers with a `WWW-Authenticate` challenge whose `resource_metadata` points at https://realtimeavatar.ai/.well-known/oauth-protected-resource/api (RFC 9728), which repeats the scope list machine-readably. Mint a key in the dashboard or with `POST /v1/api-keys`.",
        "x-scopes": {
          "avatars:read": "List and read avatars, their clips and their assets.",
          "avatars:write": "Create, update and delete avatars; upload assets; change clips and the resting loop.",
          "realtime:write": "Mint and release live calls, and read pool capacity.",
          "credits:read": "Read the workspace credit balance and what live calls are holding.",
          "usage:read": "Read per-session billed usage detail.",
          "recordings:read": "Read private recording metadata and issue playback URLs.",
          "usage:write": "Report usage events. Reserved for first-party runtimes; no public operation requires it.",
          "api_keys:write": "Mint further API keys.",
          "*": "Every operation. Granted by the dashboard's default key for convenience — prefer the narrow scopes above, which are what an agent should request."
        }
      }
    },
    "schemas": {
      "LiveKitSessionRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "avatar_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "background_id": {
            "default": "plain_white",
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "capacity_pool": {
            "default": "primary",
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          },
          "mode": {
            "default": "avatar",
            "type": "string",
            "enum": [
              "avatar",
              "voice"
            ]
          },
          "create_room": {
            "default": true,
            "type": "boolean"
          },
          "dispatch_agent": {
            "default": true,
            "type": "boolean"
          },
          "instructions": {
            "type": "string",
            "minLength": 1,
            "maxLength": 16000
          },
          "initial_context": {
            "default": [],
            "maxItems": 32,
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "system",
                    "user",
                    "assistant"
                  ]
                },
                "content": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 8000
                }
              },
              "required": [
                "role",
                "content"
              ],
              "additionalProperties": false
            }
          },
          "initial_say": {
            "type": "string",
            "minLength": 1,
            "maxLength": 1000
          },
          "llm": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "backend": {
                    "type": "string",
                    "enum": [
                      "local",
                      "gemini",
                      "openai"
                    ]
                  },
                  "model": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 200
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "max_session_seconds": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1800
          },
          "participant_identity": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "participant_name": {
            "type": "string",
            "maxLength": 160
          },
          "character_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "queue_ticket_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "room_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160,
            "description": "Optional room label. RTA appends the session identity; use the returned grant's room name to connect. A new call never joins an existing session."
          },
          "source_kind": {
            "default": "source_video",
            "description": "The realtime source. Creation is image-only — every avatar grows its own PLATFORM-GENERATED looping source video from the uploaded portrait — so this is always \"source_video\".",
            "type": "string",
            "enum": [
              "source_video"
            ]
          },
          "source_video_url": {
            "description": "Normally omitted: the avatar's platform-generated idle loop is resolved server-side. Overriding it with a custom video URL is a legacy channel for existing integrations — custom video is not part of the public contract.",
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ]
          },
          "stt_mode": {
            "default": "server",
            "type": "string",
            "enum": [
              "server",
              "off"
            ]
          },
          "transcription": {
            "description": "Optional speech recognition hints. Omit language_codes or send [] for automatic multilingual detection. Custom vocabulary biases recognition; at most 100 relevant terms is recommended. It is not a character instruction or a guarantee of recognition accuracy or latency.",
            "type": "object",
            "properties": {
              "language_codes": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 2,
                  "maxLength": 64
                }
              },
              "custom_vocabulary": {
                "maxItems": 1000,
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 160,
                  "pattern": "\\S"
                }
              }
            },
            "additionalProperties": false
          },
          "camera": {
            "type": "boolean"
          },
          "video_cache_id": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1,
                "maxLength": 240
              },
              {
                "type": "null"
              }
            ]
          },
          "voice": {
            "anyOf": [
              {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "provider": {
                        "type": "string",
                        "const": "cartesia"
                      },
                      "model": {
                        "default": "cartesia/sonic-3",
                        "type": "string",
                        "enum": [
                          "cartesia/sonic-2",
                          "cartesia/sonic-2-latest",
                          "cartesia/sonic-3",
                          "cartesia/sonic-3-latest",
                          "cartesia/sonic-turbo",
                          "cartesia/sonic-turbo-latest"
                        ]
                      },
                      "voice_id": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 120
                      },
                      "speed": {
                        "anyOf": [
                          {
                            "type": "number",
                            "minimum": 0.5,
                            "maximum": 2
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "emotion": {
                        "anyOf": [
                          {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 80
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "language": {
                        "anyOf": [
                          {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 16
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "required": [
                      "provider",
                      "voice_id"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "provider": {
                        "type": "string",
                        "const": "breezeblue"
                      },
                      "model": {
                        "default": "bluebell-v1-en",
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 80
                      },
                      "voice_id": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 120
                      },
                      "guidance_scale": {
                        "anyOf": [
                          {
                            "type": "number",
                            "minimum": 1,
                            "maximum": 10
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "instructions": {
                        "anyOf": [
                          {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 1000
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "language": {
                        "anyOf": [
                          {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 16
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "required": [
                      "provider",
                      "voice_id"
                    ],
                    "additionalProperties": false
                  },
                  {
                    "type": "object",
                    "properties": {
                      "provider": {
                        "type": "string",
                        "const": "fish"
                      },
                      "model": {
                        "default": "speech-1.6",
                        "type": "string",
                        "enum": [
                          "speech-1.6",
                          "s1",
                          "s2-pro",
                          "speech-1.5",
                          "s1-mini"
                        ]
                      },
                      "voice_id": {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 120
                      },
                      "speed": {
                        "anyOf": [
                          {
                            "type": "number",
                            "minimum": 0.5,
                            "maximum": 2
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "emotion": {
                        "anyOf": [
                          {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 80
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "language": {
                        "anyOf": [
                          {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 16
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "required": [
                      "provider",
                      "voice_id"
                    ],
                    "additionalProperties": false
                  }
                ]
              },
              {
                "type": "null"
              }
            ]
          },
          "voice_id": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 1,
                "maxLength": 240
              },
              {
                "type": "null"
              }
            ]
          },
          "clip_library": {
            "description": "The session's motion-state map. Normally omitted: the avatar's PLATFORM-GENERATED library (idle / listen / gesture clips rendered from the portrait at creation) is injected automatically. An explicit [] opts the call out of clips. Supplying custom clip URLs is a legacy channel for existing integrations — custom video is not part of the public contract.",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "clip_id": {
                  "type": "string",
                  "pattern": "^[A-Za-z0-9_-]{1,64}$"
                },
                "source_video_url": {
                  "description": "The clip's video URL — for a platform-generated library this is the generated clip's hosted URL, filled in server-side at hydration.",
                  "type": "string",
                  "format": "uri"
                },
                "video_cache_id": {
                  "type": "string",
                  "minLength": 8,
                  "maxLength": 160
                },
                "max_seconds": {
                  "type": "number",
                  "minimum": 1,
                  "maximum": 10
                },
                "trigger": {
                  "type": "string",
                  "enum": [
                    "idle",
                    "listen",
                    "think",
                    "directive"
                  ]
                },
                "loop": {
                  "type": "boolean"
                },
                "weight": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                },
                "crossfade_ms": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 1000
                },
                "trim_start_ms": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 2000
                },
                "trim_end_ms": {
                  "type": "integer",
                  "minimum": 0,
                  "maximum": 2000
                },
                "when": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 120
                },
                "hint": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 120
                }
              },
              "required": [
                "clip_id"
              ],
              "additionalProperties": false
            }
          },
          "clip_behavior": {
            "type": "object",
            "properties": {
              "idle": {
                "type": "object",
                "properties": {
                  "clips": {
                    "minItems": 1,
                    "maxItems": 32,
                    "type": "array",
                    "items": {
                      "type": "string",
                      "pattern": "^[A-Za-z0-9_-]{1,64}$"
                    }
                  },
                  "weight": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100
                  },
                  "weights": {
                    "type": "object",
                    "propertyNames": {
                      "type": "string",
                      "pattern": "^[A-Za-z0-9_-]{1,64}$"
                    },
                    "additionalProperties": {
                      "type": "number",
                      "minimum": 0,
                      "maximum": 100
                    }
                  }
                },
                "required": [
                  "clips"
                ],
                "additionalProperties": false
              },
              "on": {
                "type": "object",
                "properties": {
                  "userSpeechStarted": {
                    "type": "object",
                    "properties": {
                      "clips": {
                        "minItems": 1,
                        "maxItems": 32,
                        "type": "array",
                        "items": {
                          "type": "string",
                          "pattern": "^[A-Za-z0-9_-]{1,64}$"
                        }
                      }
                    },
                    "required": [
                      "clips"
                    ],
                    "additionalProperties": false
                  }
                },
                "additionalProperties": false
              },
              "actions": {
                "type": "object",
                "propertyNames": {
                  "type": "string",
                  "pattern": "^[A-Za-z0-9_-]{1,64}$"
                },
                "additionalProperties": {
                  "type": "object",
                  "properties": {
                    "description": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 512
                    },
                    "clips": {
                      "minItems": 1,
                      "maxItems": 32,
                      "type": "array",
                      "items": {
                        "type": "string",
                        "pattern": "^[A-Za-z0-9_-]{1,64}$"
                      }
                    }
                  },
                  "required": [
                    "description",
                    "clips"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "additionalProperties": false
          },
          "choreography": {
            "type": "object",
            "properties": {
              "idle_dwell_min_seconds": {
                "type": "number",
                "minimum": 1,
                "maximum": 60
              },
              "idle_dwell_max_seconds": {
                "type": "number",
                "minimum": 1,
                "maximum": 120
              },
              "special_weight": {
                "type": "number",
                "minimum": 0,
                "maximum": 100
              },
              "start_grace_seconds": {
                "type": "number",
                "minimum": 0,
                "maximum": 60
              },
              "crossfade_ms": {
                "type": "integer",
                "minimum": 0,
                "maximum": 1000
              },
              "crossfade_easing": {
                "type": "string",
                "enum": [
                  "linear",
                  "smooth",
                  "ease_out"
                ]
              },
              "wrap_crossfade_ms": {
                "type": "integer",
                "minimum": 0,
                "maximum": 1000
              }
            },
            "additionalProperties": false
          },
          "behavior": {
            "type": "object",
            "properties": {
              "gestures_enabled": {
                "type": "boolean"
              }
            },
            "additionalProperties": false
          },
          "expression_profile": {
            "type": "string",
            "minLength": 1,
            "maxLength": 40
          },
          "render_backend": {
            "type": "string",
            "enum": [
              "warp",
              "generative"
            ]
          },
          "support_edits": {
            "type": "object",
            "properties": {
              "instruction": {
                "type": "string",
                "minLength": 1,
                "maxLength": 1000
              },
              "reference_url": {
                "type": "string",
                "format": "uri"
              },
              "live_edit": {
                "description": "EXPERIMENTAL (\"runtime edit\") — let the look follow the conversation mid-call. Less settled than the fixed `instruction` lane: the shape may still change, and the re-dress does not reach every capacity tier yet, so a live session is accepted and runs normally but may hold its opening set for the whole call. Absent means `instruction` is fixed for the session, which is the incumbent behavior.",
                "type": "object",
                "properties": {
                  "rules": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 2000
                  },
                  "cooldown_seconds": {
                    "type": "integer",
                    "minimum": 5,
                    "maximum": 600
                  },
                  "renderer": {
                    "type": "string",
                    "enum": [
                      "editor",
                      "generative"
                    ]
                  },
                  "objects": {
                    "type": "string",
                    "enum": [
                      "editor",
                      "generative"
                    ]
                  }
                },
                "required": [
                  "rules"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "instruction"
            ],
            "additionalProperties": false
          },
          "transcript_webhook": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "maxLength": 500,
                "format": "uri"
              },
              "secret": {
                "type": "string",
                "minLength": 16,
                "maxLength": 200
              }
            },
            "required": [
              "url",
              "secret"
            ],
            "additionalProperties": false
          },
          "recording": {
            "type": "string",
            "enum": [
              "off",
              "audio",
              "video",
              "audio_video"
            ],
            "description": "Server-owned recording policy; omitted means off. Audio includes user and avatar audio."
          },
          "connection_history": {
            "type": "boolean"
          },
          "client_metadata": {
            "type": "object",
            "propertyNames": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            },
            "additionalProperties": {
              "type": "string",
              "maxLength": 200
            },
            "maxProperties": 16
          },
          "fast_endpointing": {
            "description": "DEPRECATED, no-op. Accepted and ignored. The faster hesitation ceiling this requested is now the default for every session, so sending it changes nothing. Safe to stop sending; the field is retained only so existing callers do not break.",
            "type": "boolean"
          },
          "require_ready_clip_library": {
            "type": "boolean"
          }
        },
        "required": [
          "avatar_id"
        ],
        "additionalProperties": false
      },
      "LiveKitSessionGrant": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "usage_account_id": {
            "readOnly": true,
            "description": "Returned only for X-RTA-Observability: identity-v1 after successful platform billing attachment. The authoritative billing hold tenant ID; never client metadata or provider identity. Omitted by default and on failed or queued responses. Older servers may omit it.",
            "type": "string"
          },
          "releaseIdentity": {
            "readOnly": true,
            "description": "Returned only for X-RTA-Release-Evidence: 1. Omitted by default for strict SDK compatibility. Missing deployment or worker evidence remains null.",
            "type": "object",
            "properties": {
              "deploymentId": {
                "anyOf": [
                  {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "workerRevision": {
                "anyOf": [
                  {
                    "type": "string",
                    "pattern": "^[0-9a-f]{40}$"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "provenance": {
                "type": "object",
                "properties": {
                  "deploymentSource": {
                    "type": "string",
                    "const": "cloudflare-worker-version"
                  },
                  "workerSource": {
                    "anyOf": [
                      {
                        "type": "string",
                        "const": "authenticated-worker-heartbeat"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "workerId": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 160
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "podStartedAtMs": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 9007199254740991
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "workerObservedAt": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date-time",
                        "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "deploymentSource",
                  "workerSource",
                  "workerId",
                  "podStartedAtMs",
                  "workerObservedAt"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "deploymentId",
              "workerRevision",
              "provenance"
            ],
            "additionalProperties": false
          },
          "status": {
            "default": "ready",
            "type": "string",
            "const": "ready"
          },
          "session_id": {
            "type": "string",
            "minLength": 1
          },
          "room_name": {
            "type": "string",
            "minLength": 1
          },
          "livekit_url": {
            "type": "string",
            "minLength": 1
          },
          "participant_token": {
            "type": "string",
            "minLength": 1
          },
          "participant_identity": {
            "type": "string",
            "minLength": 1
          },
          "agent_name": {
            "type": "string",
            "minLength": 1
          },
          "capacity_pool": {
            "type": "string",
            "minLength": 1
          },
          "reservation_expires_at": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
          },
          "max_sessions_per_gpu": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "stt_mode": {
            "default": "server",
            "type": "string",
            "enum": [
              "server",
              "off"
            ]
          },
          "camera": {
            "type": "boolean"
          },
          "room_created": {
            "default": false,
            "type": "boolean"
          },
          "dispatch_created": {
            "default": false,
            "type": "boolean"
          },
          "join_timeout_seconds": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "idle_timeout_seconds": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "max_session_seconds": {
            "default": 0,
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "recording": {
            "readOnly": true,
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "sessionId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "recordingId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "audio",
                      "video",
                      "audio_video"
                    ]
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                  },
                  "retainedUntil": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "recording",
                      "processing",
                      "expired"
                    ]
                  }
                },
                "required": [
                  "sessionId",
                  "recordingId",
                  "mode",
                  "createdAt",
                  "retainedUntil",
                  "status"
                ],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "sessionId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "recordingId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "audio",
                      "video",
                      "audio_video"
                    ]
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                  },
                  "retainedUntil": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                  },
                  "status": {
                    "type": "string",
                    "const": "ready"
                  },
                  "mediaType": {
                    "type": "string",
                    "enum": [
                      "audio/mp4",
                      "video/mp4"
                    ]
                  },
                  "sizeBytes": {
                    "type": "integer",
                    "exclusiveMinimum": 0,
                    "maximum": 9007199254740991
                  },
                  "durationMs": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 9007199254740991
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "sessionId",
                  "recordingId",
                  "mode",
                  "createdAt",
                  "retainedUntil",
                  "status",
                  "mediaType",
                  "sizeBytes",
                  "durationMs"
                ],
                "additionalProperties": false
              },
              {
                "type": "object",
                "properties": {
                  "sessionId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "recordingId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "mode": {
                    "type": "string",
                    "enum": [
                      "audio",
                      "video",
                      "audio_video"
                    ]
                  },
                  "createdAt": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                  },
                  "retainedUntil": {
                    "type": "string",
                    "format": "date-time",
                    "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                  },
                  "status": {
                    "type": "string",
                    "const": "failed"
                  },
                  "errorCode": {
                    "type": "string",
                    "enum": [
                      "recording_failed",
                      "recording_unavailable"
                    ]
                  }
                },
                "required": [
                  "sessionId",
                  "recordingId",
                  "mode",
                  "createdAt",
                  "retainedUntil",
                  "status",
                  "errorCode"
                ],
                "additionalProperties": false
              }
            ]
          },
          "connection_history": {
            "readOnly": true,
            "type": "object",
            "properties": {
              "endpoint": {
                "type": "string",
                "format": "starts_with",
                "pattern": "^https:\\/\\/.*"
              },
              "token": {
                "type": "string",
                "minLength": 32,
                "maxLength": 4096
              },
              "expiresAt": {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
              }
            },
            "required": [
              "endpoint",
              "token",
              "expiresAt"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "status",
          "session_id",
          "room_name",
          "livekit_url",
          "participant_token",
          "participant_identity",
          "agent_name",
          "capacity_pool",
          "reservation_expires_at",
          "max_sessions_per_gpu",
          "stt_mode",
          "room_created",
          "dispatch_created",
          "join_timeout_seconds",
          "idle_timeout_seconds",
          "max_session_seconds"
        ],
        "additionalProperties": false
      },
      "LiveKitCapacitySnapshot": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "capacity_pool": {
            "type": "string",
            "minLength": 1
          },
          "agent_name": {
            "type": "string",
            "minLength": 1
          },
          "max_sessions": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "max_sessions_per_gpu": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "worker_count": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "active_sessions": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "reserved_sessions": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "observed_worker_active_sessions": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "available_sessions": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "queue_size": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "admission_open": {
            "type": "boolean"
          },
          "recommended_retry_ms": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "load": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          }
        },
        "required": [
          "capacity_pool",
          "agent_name",
          "max_sessions",
          "max_sessions_per_gpu",
          "worker_count",
          "active_sessions",
          "reserved_sessions",
          "observed_worker_active_sessions",
          "available_sessions",
          "queue_size",
          "admission_open",
          "recommended_retry_ms",
          "load"
        ],
        "additionalProperties": false
      },
      "CapacityBusyResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "minLength": 1
          },
          "capacity": {
            "type": "object",
            "properties": {
              "capacity_pool": {
                "type": "string",
                "minLength": 1
              },
              "agent_name": {
                "type": "string",
                "minLength": 1
              },
              "max_sessions": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "max_sessions_per_gpu": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "maximum": 9007199254740991
              },
              "worker_count": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "active_sessions": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "reserved_sessions": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "observed_worker_active_sessions": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "available_sessions": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "queue_size": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "admission_open": {
                "type": "boolean"
              },
              "recommended_retry_ms": {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              "load": {
                "type": "number",
                "minimum": 0,
                "maximum": 1
              }
            },
            "required": [
              "capacity_pool",
              "agent_name",
              "max_sessions",
              "max_sessions_per_gpu",
              "worker_count",
              "active_sessions",
              "reserved_sessions",
              "observed_worker_active_sessions",
              "available_sessions",
              "queue_size",
              "admission_open",
              "recommended_retry_ms",
              "load"
            ],
            "additionalProperties": false
          },
          "queue_size": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "queue_ticket_id": {
            "type": "string",
            "minLength": 1
          },
          "queue_position": {
            "type": "integer",
            "exclusiveMinimum": 0,
            "maximum": 9007199254740991
          },
          "recommended_retry_ms": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "required": [
          "message",
          "capacity",
          "queue_size",
          "recommended_retry_ms"
        ],
        "additionalProperties": false
      },
      "LiveKitSessionReleaseRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "session_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "queue_ticket_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "reason": {
            "type": "string",
            "enum": [
              "page_hide",
              "disconnected",
              "superseded",
              "unmount",
              "manual",
              "idle_timeout"
            ]
          },
          "capacity_pool": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80
          }
        },
        "additionalProperties": false,
        "if": {
          "not": {
            "required": [
              "session_id"
            ]
          }
        },
        "then": {
          "required": [
            "queue_ticket_id"
          ]
        }
      },
      "InputSource": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "string",
        "enum": [
          "text",
          "client_stt",
          "server_stt",
          "unknown"
        ],
        "description": "Input source. Missing legacy provenance is unknown, never implicitly text."
      },
      "DeclaredInputSource": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "string",
        "enum": [
          "text",
          "client_stt"
        ],
        "description": "Optional client declaration; a client cannot declare server_stt or unknown."
      },
      "InputSourceDeclarationScope": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "string",
        "enum": [
          "turn",
          "adapter"
        ]
      },
      "InputProvenance": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "version": {
            "type": "number",
            "const": 1
          },
          "observed_source": {
            "type": "string",
            "enum": [
              "text",
              "client_stt",
              "server_stt",
              "unknown"
            ],
            "description": "Source observed at ingress, kept separate from the client's declaration. SDK sendTurn observes text even when an application declares client_stt."
          },
          "observed_by": {
            "type": "string",
            "enum": [
              "sdk",
              "worker",
              "unknown"
            ]
          },
          "declared_source": {
            "type": "string",
            "enum": [
              "text",
              "client_stt"
            ],
            "description": "Optional client declaration; a client cannot declare server_stt or unknown."
          },
          "declaration_scope": {
            "type": "string",
            "enum": [
              "turn",
              "adapter"
            ]
          },
          "ingress": {
            "type": "string",
            "enum": [
              "room_text",
              "room_audio_stt",
              "unknown"
            ]
          }
        },
        "required": [
          "version",
          "observed_source",
          "observed_by",
          "ingress"
        ],
        "additionalProperties": {},
        "description": "Optional per-user-segment input provenance. A signed webhook authenticates delivery; it does not independently verify a client's declaration. Missing legacy provenance must remain absent."
      },
      "TranscriptSegment": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "user",
              "assistant"
            ]
          },
          "text": {
            "type": "string"
          },
          "ts": {
            "type": "number"
          },
          "interrupted": {
            "description": "The assistant was interrupted; text contains only what was spoken.",
            "type": "boolean"
          },
          "message_id": {
            "description": "Optional user message identity.",
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "turn_id": {
            "description": "Optional user turn identity from rta.turn_id.",
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "retry_of_turn_id": {
            "description": "Original user turn identity from rta.retry_of_turn_id, present only for an explicit retry.",
            "type": "string",
            "minLength": 1,
            "maxLength": 200
          },
          "input_source": {
            "description": "Resolved user input source. A valid client declaration may resolve room text as client_stt; observed evidence remains in input_provenance. Absent on legacy segments; never defaults to text.",
            "type": "string",
            "enum": [
              "text",
              "client_stt",
              "server_stt",
              "unknown"
            ]
          },
          "input_provenance": {
            "type": "object",
            "properties": {
              "version": {
                "type": "number",
                "const": 1
              },
              "observed_source": {
                "type": "string",
                "enum": [
                  "text",
                  "client_stt",
                  "server_stt",
                  "unknown"
                ],
                "description": "Source observed at ingress, kept separate from the client's declaration. SDK sendTurn observes text even when an application declares client_stt."
              },
              "observed_by": {
                "type": "string",
                "enum": [
                  "sdk",
                  "worker",
                  "unknown"
                ]
              },
              "declared_source": {
                "type": "string",
                "enum": [
                  "text",
                  "client_stt"
                ],
                "description": "Optional client declaration; a client cannot declare server_stt or unknown."
              },
              "declaration_scope": {
                "type": "string",
                "enum": [
                  "turn",
                  "adapter"
                ]
              },
              "ingress": {
                "type": "string",
                "enum": [
                  "room_text",
                  "room_audio_stt",
                  "unknown"
                ]
              }
            },
            "required": [
              "version",
              "observed_source",
              "observed_by",
              "ingress"
            ],
            "additionalProperties": {},
            "description": "Optional per-user-segment input provenance. A signed webhook authenticates delivery; it does not independently verify a client's declaration. Missing legacy provenance must remain absent."
          }
        },
        "required": [
          "role",
          "text",
          "ts"
        ],
        "additionalProperties": {}
      },
      "TranscriptToolCall": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "call_id": {
            "type": "string"
          },
          "arguments": {
            "type": "string",
            "description": "Raw JSON arguments text; may be truncated, so it need not parse as JSON."
          },
          "ts": {
            "type": "number"
          },
          "ok": {
            "description": "Absent when the call produced nothing the model saw.",
            "type": "boolean"
          },
          "result": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "duration_ms": {
            "type": "number"
          }
        },
        "required": [
          "name",
          "call_id",
          "arguments",
          "ts"
        ],
        "additionalProperties": {},
        "description": "Tool call history; arguments and result/error text may be truncated."
      },
      "TranscriptPayload": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "session.transcript"
          },
          "session_id": {
            "type": "string"
          },
          "avatar_id": {
            "type": "string"
          },
          "mode": {
            "type": "string",
            "enum": [
              "avatar",
              "voice"
            ]
          },
          "started_at": {
            "type": "number"
          },
          "ended_at": {
            "type": "number"
          },
          "seconds": {
            "type": "number",
            "description": "Session duration in seconds."
          },
          "truncated": {
            "type": "boolean",
            "description": "True when the transcript buffer overflowed and segments are partial."
          },
          "segments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string",
                  "enum": [
                    "user",
                    "assistant"
                  ]
                },
                "text": {
                  "type": "string"
                },
                "ts": {
                  "type": "number"
                },
                "interrupted": {
                  "description": "The assistant was interrupted; text contains only what was spoken.",
                  "type": "boolean"
                },
                "message_id": {
                  "description": "Optional user message identity.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                },
                "turn_id": {
                  "description": "Optional user turn identity from rta.turn_id.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                },
                "retry_of_turn_id": {
                  "description": "Original user turn identity from rta.retry_of_turn_id, present only for an explicit retry.",
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 200
                },
                "input_source": {
                  "description": "Resolved user input source. A valid client declaration may resolve room text as client_stt; observed evidence remains in input_provenance. Absent on legacy segments; never defaults to text.",
                  "type": "string",
                  "enum": [
                    "text",
                    "client_stt",
                    "server_stt",
                    "unknown"
                  ]
                },
                "input_provenance": {
                  "type": "object",
                  "properties": {
                    "version": {
                      "type": "number",
                      "const": 1
                    },
                    "observed_source": {
                      "type": "string",
                      "enum": [
                        "text",
                        "client_stt",
                        "server_stt",
                        "unknown"
                      ],
                      "description": "Source observed at ingress, kept separate from the client's declaration. SDK sendTurn observes text even when an application declares client_stt."
                    },
                    "observed_by": {
                      "type": "string",
                      "enum": [
                        "sdk",
                        "worker",
                        "unknown"
                      ]
                    },
                    "declared_source": {
                      "type": "string",
                      "enum": [
                        "text",
                        "client_stt"
                      ],
                      "description": "Optional client declaration; a client cannot declare server_stt or unknown."
                    },
                    "declaration_scope": {
                      "type": "string",
                      "enum": [
                        "turn",
                        "adapter"
                      ]
                    },
                    "ingress": {
                      "type": "string",
                      "enum": [
                        "room_text",
                        "room_audio_stt",
                        "unknown"
                      ]
                    }
                  },
                  "required": [
                    "version",
                    "observed_source",
                    "observed_by",
                    "ingress"
                  ],
                  "additionalProperties": {},
                  "description": "Optional per-user-segment input provenance. A signed webhook authenticates delivery; it does not independently verify a client's declaration. Missing legacy provenance must remain absent."
                }
              },
              "required": [
                "role",
                "text",
                "ts"
              ],
              "additionalProperties": {}
            }
          },
          "tool_calls": {
            "description": "Optional tool call sidecar; absent when no tools ran.",
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "call_id": {
                  "type": "string"
                },
                "arguments": {
                  "type": "string",
                  "description": "Raw JSON arguments text; may be truncated, so it need not parse as JSON."
                },
                "ts": {
                  "type": "number"
                },
                "ok": {
                  "description": "Absent when the call produced nothing the model saw.",
                  "type": "boolean"
                },
                "result": {
                  "type": "string"
                },
                "error": {
                  "type": "string"
                },
                "duration_ms": {
                  "type": "number"
                }
              },
              "required": [
                "name",
                "call_id",
                "arguments",
                "ts"
              ],
              "additionalProperties": {},
              "description": "Tool call history; arguments and result/error text may be truncated."
            }
          },
          "tool_calls_truncated": {
            "description": "True when the tool call buffer overflowed and its tail is missing.",
            "type": "boolean"
          },
          "client_metadata": {
            "type": "object",
            "propertyNames": {
              "type": "string",
              "minLength": 1,
              "maxLength": 64
            },
            "additionalProperties": {
              "type": "string",
              "maxLength": 200
            },
            "maxProperties": 16,
            "description": "Mint-time client_metadata echoed verbatim; an empty object when none was provided."
          }
        },
        "required": [
          "type",
          "session_id",
          "avatar_id",
          "mode",
          "started_at",
          "ended_at",
          "seconds",
          "truncated",
          "segments",
          "client_metadata"
        ],
        "additionalProperties": {},
        "description": "Signed end-of-call transcript sent directly by the worker to transcript_webhook.url after capacity release. Optional provenance is additive; legacy payloads remain valid."
      },
      "Avatar": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 8,
            "maxLength": 80
          },
          "tenantId": {
            "type": "string",
            "minLength": 8,
            "maxLength": 80
          },
          "displayName": {
            "type": "string"
          },
          "sourceKind": {
            "type": "string",
            "enum": [
              "image",
              "video"
            ]
          },
          "modelId": {
            "type": "string",
            "enum": [
              "realtime-avatar-live-v1",
              "realtime-avatar-video-v1"
            ]
          },
          "sourceAssetId": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 8,
                "maxLength": 80
              },
              {
                "type": "null"
              }
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "preprocessing",
              "ready",
              "failed",
              "disabled",
              "deleted"
            ]
          },
          "error": {
            "type": [
              "string",
              "null"
            ]
          },
          "idleVideoStatus": {
            "type": "string",
            "enum": [
              "none",
              "queued",
              "generating",
              "ready",
              "failed"
            ]
          },
          "defaultVoiceId": {
            "type": [
              "string",
              "null"
            ]
          },
          "llm": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "local",
                      "gemini",
                      "openai"
                    ]
                  },
                  "model": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 200
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "provider"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "tenantId",
          "displayName",
          "sourceKind",
          "modelId",
          "sourceAssetId",
          "status",
          "error",
          "idleVideoStatus",
          "defaultVoiceId",
          "llm",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "CreateAvatarRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "sourceKind": {
            "default": "image",
            "type": "string",
            "enum": [
              "image",
              "video"
            ],
            "description": "`image` is how avatars are created: upload a portrait, and the platform generates the looping source video and the motion library from it. `video` is CLOSED — it survives in this enum for a handful of grandfathered tenants, and `createAvatar` answers everyone else `422` (\"Creating from a supplied video is closed\"). The gate is a per-tenant flag that fails closed, so treat `video` as unavailable unless you already know yours is on."
          },
          "modelId": {
            "type": "string",
            "enum": [
              "realtime-avatar-live-v1",
              "realtime-avatar-video-v1"
            ],
            "description": "Omit it. This is not a choice between renderers — the model is DERIVED from `sourceKind` (`image` → `realtime-avatar-live-v1`, `video` → `realtime-avatar-video-v1`), and sending one that disagrees with your `sourceKind` is `422 Avatar model is not compatible with its source kind`. So an explicit value can only ever restate what the source already decided, or fail. It follows that `realtime-avatar-video-v1` is unreachable on the `image` lane everyone uses: it needs `sourceKind: \"video\"`, which is closed."
          },
          "sourceAssetId": {
            "type": "string",
            "minLength": 8,
            "maxLength": 80
          },
          "motionPrompt": {
            "type": "string",
            "maxLength": 1200
          },
          "defaultVoiceId": {
            "type": "string",
            "minLength": 8,
            "maxLength": 160
          },
          "voice": {
            "type": "object",
            "properties": {
              "auto_description": {
                "type": "string",
                "minLength": 1,
                "maxLength": 2000
              },
              "voice": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "cartesia",
                      "fish"
                    ]
                  },
                  "voice_id": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 240
                  },
                  "model": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 120
                  },
                  "speed": {
                    "anyOf": [
                      {
                        "type": "number",
                        "minimum": 0.5,
                        "maximum": 2
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "emotion": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 80
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "language": {
                    "anyOf": [
                      {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 16
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "provider",
                  "voice_id"
                ],
                "additionalProperties": false
              }
            },
            "additionalProperties": false,
            "anyOf": [
              {
                "required": [
                  "auto_description"
                ]
              },
              {
                "required": [
                  "voice"
                ]
              }
            ]
          },
          "llm": {
            "type": "object",
            "properties": {
              "provider": {
                "type": "string",
                "enum": [
                  "local",
                  "gemini",
                  "openai"
                ]
              },
              "model": {
                "anyOf": [
                  {
                    "type": "string",
                    "maxLength": 200
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "provider"
            ],
            "additionalProperties": false
          },
          "settings": {
            "default": {},
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          },
          "metadata": {
            "default": {},
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          }
        },
        "required": [
          "displayName"
        ],
        "additionalProperties": false
      },
      "UpdateAvatarRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 160
          },
          "defaultVoiceId": {
            "anyOf": [
              {
                "type": "string",
                "minLength": 8,
                "maxLength": 160
              },
              {
                "type": "null"
              }
            ]
          },
          "llm": {
            "anyOf": [
              {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "local",
                      "gemini",
                      "openai"
                    ]
                  },
                  "model": {
                    "anyOf": [
                      {
                        "type": "string",
                        "maxLength": 200
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "provider"
                ],
                "additionalProperties": false
              },
              {
                "type": "null"
              }
            ]
          },
          "llmProvider": {
            "type": "string",
            "enum": [
              "local",
              "gemini",
              "openai"
            ]
          },
          "llmModel": {
            "anyOf": [
              {
                "type": "string",
                "maxLength": 200
              },
              {
                "type": "null"
              }
            ]
          },
          "settings": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          },
          "metadata": {
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          },
          "persona": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1,
                "maxLength": 80
              },
              "personality": {
                "default": "",
                "type": "string",
                "maxLength": 500
              },
              "background": {
                "default": "",
                "type": "string",
                "maxLength": 700
              },
              "replyStyle": {
                "default": "short, warm, specific, and spoken",
                "type": "string",
                "maxLength": 400
              }
            },
            "additionalProperties": false
          },
          "artDirection": {
            "type": "string",
            "maxLength": 1200
          },
          "stylePreset": {
            "type": "string",
            "enum": [
              "cinematic-founder",
              "editorial-companion",
              "warm-anime",
              "luxury-realism",
              "soft-3d",
              "noir-avatar"
            ]
          },
          "portraitUrl": {
            "type": "string",
            "format": "uri",
            "description": "Dashboard-only. `updateAvatar` needs a request/env context to pull the image into tenant storage, and the public route does not supply one, so sending this here is always `400 Portrait updates are not available on this route`. To change the portrait over this API, register the image with `POST /v1/assets` or `POST /v1/assets/remote` and PATCH the returned id as `sourceAssetId`, which is the swap lane and does work."
          },
          "sourceAssetId": {
            "type": "string",
            "minLength": 1
          },
          "anchorTimeMs": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          }
        },
        "additionalProperties": false,
        "minProperties": 1
      },
      "CreateApiKeyRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120
          },
          "environment": {
            "description": "Deprecated. Accepted for older clients but ignored; all new keys use the same tic_ format.",
            "type": "string",
            "enum": [
              "live",
              "test"
            ]
          },
          "scopes": {
            "default": [
              "realtime:write",
              "credits:read",
              "avatars:read"
            ],
            "minItems": 1,
            "maxItems": 16,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "api_keys:write",
                "credits:read",
                "avatars:read",
                "avatars:write",
                "realtime:write",
                "usage:read",
                "recordings:read",
                "usage:write"
              ]
            }
          },
          "spendLimitCreditMicros": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "expiresAt": {
            "anyOf": [
              {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "required": [
          "name"
        ],
        "additionalProperties": false
      },
      "CreateApiKeyResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 8,
            "maxLength": 80
          },
          "keyId": {
            "type": "string",
            "minLength": 8,
            "maxLength": 64
          },
          "tenantId": {
            "type": "string",
            "minLength": 8,
            "maxLength": 80
          },
          "name": {
            "type": "string"
          },
          "redactedKey": {
            "type": "string"
          },
          "canReveal": {
            "default": false,
            "type": "boolean"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "*",
                "api_keys:write",
                "credits:read",
                "avatars:read",
                "avatars:write",
                "realtime:write",
                "usage:read",
                "recordings:read",
                "usage:write"
              ]
            }
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "revoked",
              "expired"
            ]
          },
          "spendLimitCreditMicros": {
            "anyOf": [
              {
                "type": "integer",
                "minimum": 0,
                "maximum": 9007199254740991
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ]
          },
          "apiKey": {
            "type": "string",
            "format": "starts_with",
            "pattern": "^tic_.*"
          }
        },
        "required": [
          "id",
          "keyId",
          "tenantId",
          "name",
          "redactedKey",
          "canReveal",
          "scopes",
          "status",
          "spendLimitCreditMicros",
          "createdAt",
          "expiresAt",
          "apiKey"
        ],
        "additionalProperties": false
      },
      "Asset": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "minLength": 8,
            "maxLength": 80
          },
          "tenantId": {
            "type": "string",
            "minLength": 8,
            "maxLength": 80
          },
          "kind": {
            "type": "string",
            "enum": [
              "image",
              "video",
              "audio"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "pending_upload",
              "uploaded",
              "processing",
              "ready",
              "failed",
              "deleted"
            ]
          },
          "contentType": {
            "type": "string"
          },
          "sizeBytes": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "sha256": {
            "type": [
              "string",
              "null"
            ]
          },
          "publicUrl": {
            "anyOf": [
              {
                "type": "string",
                "format": "uri"
              },
              {
                "type": "null"
              }
            ]
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "tenantId",
          "kind",
          "status",
          "contentType",
          "sizeBytes",
          "sha256",
          "publicUrl",
          "createdAt",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "AssetList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          }
        },
        "required": [
          "data"
        ],
        "additionalProperties": false
      },
      "CreateRemoteAssetRequest": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "image",
              "video",
              "audio"
            ]
          },
          "remoteUrl": {
            "type": "string",
            "format": "uri"
          },
          "originalFilename": {
            "type": "string",
            "minLength": 1,
            "maxLength": 240
          },
          "metadata": {
            "default": {},
            "type": "object",
            "propertyNames": {
              "type": "string"
            },
            "additionalProperties": {}
          }
        },
        "required": [
          "kind",
          "remoteUrl"
        ],
        "additionalProperties": false
      },
      "CreditBalance": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "tenantId": {
            "type": "string",
            "minLength": 8,
            "maxLength": 80
          },
          "balanceCreditMicros": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "reservedCreditMicros": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "availableCreditMicros": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "lifetimeGrantedCreditMicros": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "lifetimeUsedCreditMicros": {
            "type": "integer",
            "minimum": 0,
            "maximum": 9007199254740991
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "tenantId",
          "balanceCreditMicros",
          "reservedCreditMicros",
          "availableCreditMicros",
          "lifetimeGrantedCreditMicros",
          "lifetimeUsedCreditMicros",
          "updatedAt"
        ],
        "additionalProperties": false
      },
      "ListUsageSessionsResponse": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "sessionId": {
                  "type": "string",
                  "minLength": 8,
                  "maxLength": 80
                },
                "releaseIdentity": {
                  "readOnly": true,
                  "description": "Returned only for X-RTA-Release-Evidence: 1. Omitted by default for strict client compatibility. Evidence is stored against this session; missing evidence remains null.",
                  "type": "object",
                  "properties": {
                    "deploymentId": {
                      "anyOf": [
                        {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 200
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "workerRevision": {
                      "anyOf": [
                        {
                          "type": "string",
                          "pattern": "^[0-9a-f]{40}$"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "provenance": {
                      "type": "object",
                      "properties": {
                        "deploymentSource": {
                          "type": "string",
                          "const": "cloudflare-worker-version"
                        },
                        "workerSource": {
                          "anyOf": [
                            {
                              "type": "string",
                              "const": "authenticated-worker-heartbeat"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "workerId": {
                          "anyOf": [
                            {
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 160
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "podStartedAtMs": {
                          "anyOf": [
                            {
                              "type": "integer",
                              "minimum": 0,
                              "maximum": 9007199254740991
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "workerObservedAt": {
                          "anyOf": [
                            {
                              "type": "string",
                              "format": "date-time",
                              "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "deploymentSource",
                        "workerSource",
                        "workerId",
                        "podStartedAtMs",
                        "workerObservedAt"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "deploymentId",
                    "workerRevision",
                    "provenance"
                  ],
                  "additionalProperties": false
                },
                "avatarId": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "avatarName": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "reserved",
                    "started",
                    "released",
                    "failed"
                  ]
                },
                "startedAt": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "endedAt": {
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "activeSeconds": {
                  "anyOf": [
                    {
                      "type": "number",
                      "minimum": 0
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "billedCreditMicros": {
                  "anyOf": [
                    {
                      "type": "integer",
                      "minimum": 0,
                      "maximum": 9007199254740991
                    },
                    {
                      "type": "null"
                    }
                  ]
                },
                "metadata": {
                  "default": {},
                  "type": "object",
                  "propertyNames": {
                    "type": "string"
                  },
                  "additionalProperties": {}
                },
                "createdAt": {
                  "type": "string"
                }
              },
              "required": [
                "sessionId",
                "avatarId",
                "avatarName",
                "status",
                "startedAt",
                "endedAt",
                "activeSeconds",
                "billedCreditMicros",
                "metadata",
                "createdAt"
              ],
              "additionalProperties": false
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "from": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
          },
          "to": {
            "type": "string",
            "format": "date-time",
            "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z))$"
          }
        },
        "required": [
          "data",
          "nextCursor",
          "from",
          "to"
        ],
        "additionalProperties": false
      },
      "Recording": {
        "$schema": "https://json-schema.org/draft/2020-12/schema",
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "sessionId": {
                "type": "string",
                "minLength": 1
              },
              "recordingId": {
                "type": "string",
                "minLength": 1
              },
              "mode": {
                "type": "string",
                "enum": [
                  "audio",
                  "video",
                  "audio_video"
                ]
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
              },
              "retainedUntil": {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
              },
              "status": {
                "type": "string",
                "enum": [
                  "pending",
                  "recording",
                  "processing",
                  "expired"
                ]
              }
            },
            "required": [
              "sessionId",
              "recordingId",
              "mode",
              "createdAt",
              "retainedUntil",
              "status"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "sessionId": {
                "type": "string",
                "minLength": 1
              },
              "recordingId": {
                "type": "string",
                "minLength": 1
              },
              "mode": {
                "type": "string",
                "enum": [
                  "audio",
                  "video",
                  "audio_video"
                ]
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
              },
              "retainedUntil": {
                "type": "string",
                "format": "date-time",
                "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d:[0-5]\\d(?:\\.\\d+)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$"
              },
              "status": {
                "type": "string",
                "const": "ready"
              },
              "mediaType": {
                "type": "string",
                "enum": [
                  "audio/mp4",
                  "video/mp4"
                ]
              },
              "sizeBytes": {
                "type": "integer",
                "exclusiveMinimum": 0,
                "maximum": 9007199254740991
              },
              "durationMs": {
                "anyOf": [
                  {
                    "type": "integer",
                    "minimum": 0,
                    "maximum": 9007199254740991
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            },
            "required": [
              "sessionId",
              "recordingId",
              "mode",
              "createdAt",
              "retainedUntil",
              "status",
              "mediaType",
              "sizeBytes",
              "durationMs"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "sessionId": {
                "type": "string",
[...]
